<div header category="category" user="user" status="status" type="type" logout="logout" token="token" username="username"></div>
<dashboard-head title="付款失敗"
                description="有關信用卡付款程序失敗">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<h3>您未能透過 Paypal 付款。</h3>
			<span>我們並沒有在您的信用卡扣除任何款項。請稍後再試。</span><br><br>
			<a ng-href="#/courses/{{courses_id}}" class="btn btn-default">
				返回
			</a><br><br>
		</div>
	</div>
</div>
<div footer></div>
