<div header category="category" user="user" status="status" type="type" logout="logout" token="token"
     username="username"></div>
<dashboard-head title="變更密碼" description="透過本頁修改您的密碼。">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-md-3 visible-md visible-lg">
			<div id="sidebar">
				<collection title="帳號管理" icon="glyphicon-user" collection="personal_menu">
				</collection>
			</div>
		</div>
		<div class="col-md-9">

			<form method="post" class="form-horizontal" ng-submit="postPassword(password)">
				<div class="form-group">
					<label class="col-sm-2 control-label">舊密碼</label>
					<div class="col-sm-10">
						<input id="old_password" name="old_password" type="password"
						       class="form-control" placeholder="" ng-model="password.old_password">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label class="col-sm-2 control-label">新密碼</label>
					<div class="col-sm-10">
						<input id="new_password" name="new_password" type="password"
						       class="form-control" placeholder="" ng-model="password.new_password">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">變更密碼</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div footer></div>