<div header category="category" user="user" status="status" type="type" logout="logout" token="token" username="username"></div>
<main class="bs-docs-masthead home-header" id="content" role="main">
	<div class="container"><br><br><br><br><br><br><br><br><br><br>
		<h1>歡迎使用 Education Catalog Platform</h1>
		<form class="form-inline" role="form" ng-submit="search()">
			<div class="form-group">
				<input type="text" class="form-control" id="keyword" ng-model="keyword">
			</div>
			<button type="submit" class="btn btn-primary">搜尋</button>
		</form>
		<div class="clearBoth"></div>
	</div>
</main>
<div class="home-content text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<br>
				<div class="home-top-line"></div>
				<h2>知識共享</h2><br><br>
				<div class="row">
					<div class="col-md-4 text-center">
						<i class="fa fa-leanpub home-icon"></i><br>
						<h4>輕鬆找到您心儀的興趣和手作班</h4>
					</div>
					<div class="col-md-4 text-center">
						<i class="fa fa-desktop home-icon"></i><br>
						<h4>透過網上追蹤您的學習紀錄</h4>
					</div>
					<div class="col-md-4 text-center">
						<i class="fa fa-graduation-cap home-icon"></i><br>
						<h4>您也可以開班，分享您的技能</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div footer></div>