<div header category="category" user="user" status="status" type="type" logout="logout" token="token" username="username"></div>
<dashboard-head title="關於我們" description="什麼是新一代的教育平台？">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-md-3 visible-md visible-lg">
			<div id="sidebar">
				<collection title="關於我們" icon="glyphicon-blackboard" collection="aboutMenu">
				</collection>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-lg-12">
					<h3>我們是什麼？</h3>
					<p>測試中</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h3>開發人員</h3>
				</div>
				<div class="col-sm-4">
					<img class="img-responsive" src="http://placehold.it/750x450">
				</div>
				<div class="col-sm-8">
					<h4>Mok Man Chun
						<small>12104585D</small>
					</h4>
					<p>測試文字</p>
					<ul class="list-unstyled list-inline list-social-icons">
						<li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
						                                            data-placement="top" title="Facebook"><i
								class="fa fa-facebook-square fa-2x"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h3>用家感想</h3>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img class="img-responsive img-customer" src="http://placehold.it/500x300">
				</div>
			</div>
		</div>
	</div>
</div>
<div footer></div>



