<div header category="category" user="user" status="status" type="type" logout="logout" token="token" username="username"></div>
<dashboard-head title="聯絡我們" description="與我們取得聯絡">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-md-3 visible-md visible-lg">
			<div id="sidebar">
				<collection title="關於我們" icon="glyphicon-blackboard" collection="aboutMenu">
				</collection>
			</div>
		</div>
		<div class="col-md-9">
			<uib-tabset>
				<uib-tab heading="聯絡方式"><br>
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">電話</label>
							<div class="col-sm-10">
								+852 62357482
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label class="col-sm-2 control-label">電郵</label>
							<div class="col-sm-10">
								12104585d@connect.polyu.hk
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label class="col-sm-2 control-label">地址</label>
							<div class="col-sm-10">
								香港理工大學
							</div>
						</div>
						<hr>
					</form>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
<div footer></div>




