<div header category="category" user="user" status="status" type="type" logout="logout" token="token" username="username"></div>
<dashboard-head title="說明" description="遇到困難嗎？透過本頁，尋找您遇到的問題解答。">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-md-3 visible-md visible-lg">
			<div id="sidebar">
				<collection title="關於我們" icon="glyphicon-blackboard" collection="aboutMenu">
				</collection>
			</div>
		</div>
		<div class="col-md-9">
			<h3>1. 如何使用本平台？</h3>
			<p>測試中</p>
		</div>
	</div>
</div>
<div footer></div>