<div header category="category" user="user" status="status" type="type" logout="logout" token="token"
     username="username"></div>
<dashboard-head title="相片" description="在此查閱相片。">
</dashboard-head>
<div class="container">
	<div class="row">
		<div class="col-md-3 visible-md visible-lg">
			<div id="sidebar">
				<collection title="課程管理" icon="glyphicon-calendar" collection="personal_menu">
				</collection>
			</div>
		</div>
		<div class="col-md-9">
			<a data-toggle="modal" data-target="#upload_photos"
			   class="btn btn-primary pull-right">上傳相片</a>
			<div>
				<table class="table">
					<caption>
					</caption>
					<thead>
					<tr>
						<th width="25%">編號</th>
						<th width="50%">相片路徑</th>
						<th width="25%">上傳日期</th>
					</tr>
					</thead>
					<tr ng-repeat="photo in courses_photos">
						<td>
							<strong>{{photo.photos_id}}</strong>
						</td>
						<td>
							<a ng-href="{{base_api_url}}/../../uploads/{{photo.path}}"
							   target="_blank">{{photo.path}}</a>
						</td>
						<td>
							{{photo.created_at}}
						</td>
					</tr>
				</table>
			</div>
			<div id="upload_photos" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">上傳相片</h4>
						</div>
						<div class="modal-body">
							<form name="form">
								<div ng-show="file.name">
									<img ngf-thumbnail="file || '/thumb.jpg'" style="max-width: 300px;"><br>
									{{file.name}}<br>
								</div>
								<button ngf-select ng-model="file"
								        name="file" ngf-pattern="'image/*'"
								        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100"
								        ngf-resize="{width: 600, height: 600}" class="btn btn-default">選擇相片
								</button>
								<button type="submit" ng-click="submit()" class="btn btn-primary">上傳相片</button>
							</form>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div footer></div>